.container
{
	margin:20px;
}
.answer
{
	float:left;
	font-size:2.0em;
	text-align:center;
	margin-right:20px;
}

#questionContainer
{
	margin-left:0px;
}
.questionPart
{
    width:20px;
    float:left;
    text-align:center;
}

.question
{
	float:left;
	width:150px;
	height:30px;
	line-height:30px;
	
}
#question.correct
{
}


#questionGrid input
{
	width:50px;
	height:25px;
	
}

.questionRow
{
	clear:left;
	height:4em;
}

@media screen and (max-width: 280px){
	.question
	{
		width:150px;
		height:40px;
		line-height:30px;
		clear:both;
		padding:5px;
	}
}