

body { margin: 0;font-family:'NobileRegular'; }
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }
.scroll-y { overflow-y: auto; }

.nav ul {
list-style: none;
margin: 0;
padding: 0;
padding-top: 1em;
}

.nav ul li a
{
	line-height:60px;
	width:60px;
	height:60px;
	padding:10px;
}

.container
{
	margin:20px;
}

.left.col { width: 150px; outline:gray solid 1px;}
.right.col { left: 150px; right: 0; }
.header.row { height: 75px; line-height: 75px; /*outline:gray solid 1px;*/}
.body.row { top: 75px; bottom: 50px; outline:gray solid 1px;}
.footer.row { height: 50px; bottom: 0; /*line-height: 75px;*/ }

.answer
{
    background-color:Silver;
    width:40px;
    text-align:center;
	font-size:larger;
}

#timer{
	width:150px;
	/*clear:both;*/
	border-radius:0px;
	text-align:center;
	/*display:inline-block;*/
	float:left;
}
#completionStatus{
	text-align:center;
}

#questionContainer
{
	margin-left:0px;
	width:200px;
	background-color:blue;
	border-radius:10px;
}

.question
{
	float:left;
	width:150px;
	height:30px;
	line-height:30px;
	
}

.question span
{
    width:20px;
    float:left;
    text-align:center;
}

#questionGrid{
	clear:right;
}

#questionGrid input
{
	width:50px;
	height:25px;
	margin-right:20px;
	border-radius:5px;
}

input[type=text]
{
	border:1px solid black;
}

.questionRow
{
	clear:left;
	padding:5px;
}


#scorebox{
	background-color:gray;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height:20%;
	padding:20px;
	margin-top:-10px;
	padding-top:0px;
	width:50%;
	border:1px solid black;
	color:black;
	text-shadow:1px 1px 0 white;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	text-align:center;
}


#debug
{
	margin-top:0;
	margin-right: 0;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #666;
	padding: 8px;
	font-size:0.7em;
    position: fixed;
    top: 0;
    right: 0;
    font-family:consolas;
}

.shrink
{
	height: 3%;
	color:#ccc;
	width:100px;
	background-color: #ccc;
	overflow-x: none;
	overflow-y: none;
}

.show
{
	background-color: #ccc;
	color:green;
	height: 95%;
	width: 450px;
}

label + select
{
	width:75px;
}
@media screen and (min-width: 480px){

	#questionContainer{
		padding:5px;
		background-color:transparent;
		width:800px;
		float:left;
		overflow:auto;

	}
	#timer
	{
		width:150px;
		height:50px;
	}

	#completionStatus
	{
		float:left;
		margin:0px;
	}

}